.cont {
	width: 100%;
	height: 100vh;
}

.content {
	padding: 4em;
}

.title {
	font-family: helvetica, sans-serif;
	font-size: 4em;
	color: grey;
	padding-bottom: .5em;
}

.fa-dribbble {
	color: grey;
}

h4 {
	font-family: helvetica, sans-serif;
	font-size: 1.5rem;
	color: grey;
}

.twitter, .dribbble, .linkedin {
	display: inline-block;
	font-size: 1.5rem;
}

.social {
	padding-left: 4em;
}

i {
	color: grey;
}

a {
	color: grey;
}

i:hover, a:hover {
	color:teal;
}