body {
	color: #2a353a;
	font-family: 'Montserrat', sans-serif;
}

.brand{
	padding-left: 3.25rem;
}

.container {
	width: 100%;
	height: 100vh;
	padding-top: 3.25rem;
	background-image: url("svg/pattern.svg");
   	background-repeat: repeat-y;
   	background-size: 100vh 60px;
}

.content {
	max-width: 50%;
	margin: auto;
	padding-top: 10%;
	text-align: center;
}

.hero-message {
	font-size: 4em;
	text-align: center;

}

.hero-arrow img {
	background: no-repeat;
	padding-top: 5rem;
}

.hero-link {
text-align: center;
padding-top: 5rem;
}

.hero-link a {
	color: #2a353a;
}

