@import 'reset';
@import 'fonts';
@import 'colors';
@import 'header';
@import 'footer';
@import 'about';

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

main {
  color: $metal;
  height: 100vh;

  &.about {
    background: url('../images/me.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  &.work {
    background: url('../images/olly.png') fixed no-repeat bottom right;
  }
}
